<div class="insight-container">
  <div class="insight-col-1">
    <div class="insight-header">
      <h1>HU 22.0 Angular Track</h1>
      <h4>Total Number of Issues: 08</h4>
      <hr />

      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
          <div class="each-sub-header">
            <div>
              <h1>TO DO</h1>
            </div>
            <div>
              <p><img src="assets/to2.svg"></p>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="each-sub-header">
            <div>
              <h1>DEVELOPMENT</h1>
            </div>
            <div>
              <p><img src="assets/dev1.svg"></p>
            </div>
          </div> </mat-grid-tile
        ><mat-grid-tile>
          <div class="each-sub-header">
            <div>
              <h1>TESTING</h1>
            </div>
            <div>
              <p><img src="assets/tes3.svg"></p>
            </div>
          </div> </mat-grid-tile
        ><mat-grid-tile>
          <div class="each-sub-header">
            <div>
              <h1>COMPLETED</h1>
            </div>
            <div>
              <p><img src="assets/com2.svg"></p>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="progress-x">
      <h2>Status Bar</h2>
      <div class="color-bar">
        <img src="assets/statusbar.svg">
      </div>
    </div>
  </div>

  <div class="insight-col-2">
    <div class="insight-right-pane">
      <h2>Team Members</h2>
      <p>9 Members</p>

      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Pushpa Raj</h5>
          <p>Engineering Management Master</p>
        </div>
        </div>
        <div class="each-mem-col">Owner</div>
      </div>

      <hr/>

      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Komal Sharma</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Jatin Jain</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Anjali Gupta</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Rajesh Singh</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Sneha Bapat</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Kavita Agrawal</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Manish K</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Ravi Jain</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>
      <div class="each-member">
        <div class="each-mem-col">
          <img src="assets/Profile picture.svg" />
          <div class="each-member-info">
          <h5>Himanshu Singh</h5>
          <p>Frontend Engineer</p>
        </div>
        </div>
        <div class="each-mem-col">Member</div>
      </div><br>



    </div>
  </div>
</div>
